/* =================================================== */
/* ============== 2. ESTILOS DO DESKTOP ============== */
/* =================================================== */

/* --- Header --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: var(--cor-fundo-branco);
  box-shadow: var(--sombra-padrao);
}

.logo {
  width: 200px;
}

.navegacao-principal a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--cor-texto-logo);
  font-weight: bold;
  transition: color 0.3s;
}

.navegacao-principal a:hover {
  color: var(--cor-azul-principal);
}

.navegacao-principal-mobile {
  display: none;
}

.login-link {
  text-decoration: none;
  color: var(--cor-azul-principal);
  font-weight: bold;
}

.btn-mobile {
  display: none;
  /* Escondido no desktop */
}

/* --- Seções com colunas (texto e imagem, pilares) --- */
#textoComImagem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 60px 30px;
}

#textoComImagem img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* --- Botão Principal --- */
.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--cor-azul-principal);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.btn:hover {
  background-color: var(--cor-texto-logo);
  transition: all 0.3s;
}

.btn-rodape{
  width: 20px;
  height: 20px;
  padding: 15px 30px;
  background-color: var(--cor-azul-principal);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
.btn-rodape:hover {
  background-color: var(--cor-texto-logo);
  transition: all 0.3s;
}

/* --- Seção de Cards --- */
.containersPai {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.card {
  width: 30%;
  max-width: 350px;
  box-shadow: var(--sombra-padrao);
  border-radius: 8px;
  overflow: hidden;
  /* Garante que a imagem não saia da borda arredondada */
  text-align: left;
}

.card img {
  width: 100%;
}

.card h3,
.card p {
  padding: 0 15px 15px 15px;
}

/* --- Rodapé --- */
.rodape {
  background-color: var(--cor-texto-logo);
  color: var(--cor-fundo-branco);
  padding: 40px 20px 0;
}

.rodapeConteudo {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.rodapeConteudo h3 {
  color: var(--cor-verde-principal);
}

.rodapeConteudo ul {
  list-style: none;
  padding: 0;
}

.rodapeConteudo a {
  text-decoration: none;
  color: var(--cor-fundo-branco);
  transition: color 0.3s;
}

.rodapeConteudo a:hover {
  color: var(--cor-verde-principal);
}

.rodapeInferior {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid var(--cor-texto-paragrafo);
  font-size: 14px;
}
